#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sigh Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "你會立刻感覺到它提供了你一個快速、簡單的記事編輯體驗。"
		%p.name -Ren, Lin

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p NoteNote是一個簡單好用的記事本軟體。記下備忘、便條、email、簡訊、購物清單、待辦清單時，你會立刻感覺到它提供了你一個快速、簡單的記事編輯體驗。NoteNote讓記事情變成一件非常簡單的事。
			.callout
				%h2 Notes
				%p NoteNote是一個簡單好用的記事本軟體。記下備忘、便條、email、簡訊、購物清單、待辦清單時，你會立刻感覺到它提供了你一個快速、簡單的記事編輯體驗。NoteNote讓記事情變成一件非常簡單的事。
			.callout
				%h2 Notes
				%p NoteNote是一個簡單好用的記事本軟體。記下備忘、便條、email、簡訊、購物清單、待辦清單時，你會立刻感覺到它提供了你一個快速、簡單的記事編輯體驗。NoteNote讓記事情變成一件非常簡單的事。
#bottom_cta
	.wrapper
		%p NoteNote is for FREE!
		%button= link_to "Sign Up", new_user_registration_path
%footer
	%p &copy; Ren's 